/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
    .battery__card{
        zoom: .8;
    }
}

/* For medium devices */
@media screen and (min-width: 430px){
    .battery__card{
        width: 312px;
    }
}

/* For large devices */
@media screen and (min-width: 1024px){
    .battery__card{
        zoom: 1.5;
    }
}